<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <style>
        html {
            font-family: Arial, serif;
            background-color: #FFFFFF;
        }
        .box {
            width: 460px;
            height: auto;
            background-color: white;
            margin-left: 20px;
            margin-top: 20px;
            border-radius: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <img src="../static/backarrow.png" onclick="history.back()" style="margin-right: 30px">
    <h1 style="display: inline">Details View</h1>
    <h2 style="color: #ADADAD; margin-left: 145px">Your Ø Level</h2>
    <div style="display: inline-block; vertical-align: top; margin-left: 145px">
        <span id="avg_level" style="font-size: 30px; font-weight: bold">LOW</span><img src="../static/info.png" style="margin-left: 100px; margin-top: 30px;" onclick="window.location='/info/'+'{{ trendid }}';" alt="">
    </div>
    <div>
        <svg id="linechart" width="500" height="400"></svg>
    </div>

    <input type="checkbox" id="treatment_visibility" name="treatment_visibility" value="Treatment" style="width: 20px; height: 20px" checked>
    <label for="treatment_visibility" style="font-size: 20px"> Treatment Visibility</label><br>

    <input type="checkbox" id="other_visibility" name="other_visibility" value="Other" style="width: 20px; height: 20px" checked>
    <label for="other_visibility" style="font-size: 20px"> Other Visibility</label><br>

    <div style="background-color: #E7E7E7; width: 500px; height: auto; padding-top: 10px; padding-bottom: 10px;">
        <div class="box">
            <p id="pvalue_percent" style="font-weight: bold; font-size: 30px; margin-left: 10px; padding-top: 10px">-</p>
            <p style="margin-left: 10px; padding-bottom: 10px">probability for getting your values compared to other patients</p>
        </div>

        <div class="box">
            <p id="linmodelres" style="font-weight: bold; font-size: 30px; margin-left: 10px; padding-top: 10px">-</p>
            <p style="margin-left: 10px; padding-bottom: 10px">predicted value if treatment pattern is continued</p>
        </div>

        <div class="box">
            <p id="treatment_name_A" style="font-size: 20px; margin-left: 10px; padding-top: 10px; font-weight: bold"><i class="fa-solid fa-tablets"></i> Treatment A</p>
            <p id="mixedmodelres_a" style="font-weight: bold; font-size: 30px; margin-left: 10px; padding-top: 10px">-</p>
            <p style="margin-left: 10px; padding-bottom: 10px">predicted value when only this treatment is still performed</p>
        </div>

        <div class="box">
            <p id="treatment_name_B" style="font-size: 20px; margin-left: 10px; padding-top: 10px; font-weight: bold"><i class="fa-solid fa-syringe"></i> Treatment B</p>
            <p id="mixedmodelres_b" style="font-weight: bold; font-size: 30px; margin-left: 10px; padding-top: 10px">-</p>
            <p style="margin-left: 10px; padding-bottom: 10px">predicted value when only this treatment is still performed</p>
        </div>
    </div>

    <script>
        let paindata =     JSON.parse('{{ paindata | tojson | safe }}')
        let activitydata = JSON.parse('{{ activitydata | tojson | safe }}')
        let stressdata =   JSON.parse('{{ stressdata | tojson | safe }}')
        let sleepdata =    JSON.parse('{{ sleepdata | tojson | safe }}')

        let trendid = '{{ trendid }}';

        let pvalue = parseFloat('{{ pvalue }}');
        let lin_pred_1 = parseFloat('{{ lin_pred_1 }}');
        let lmm_pred_a = parseFloat('{{ lmm_pred_a }}');
        let lmm_pred_b = parseFloat('{{ lmm_pred_b }}');

        let svg = d3.select("#linechart"),
            margin = 200,
            width = svg.attr("width") - margin,
            height = svg.attr("height") - margin

        let xScale = d3.scaleLinear().domain([0, 19]).range([0, width]),
            yScale = d3.scaleLinear().domain([0, 10]).range([height, 0]);

        let g = svg.append("g")
                   .attr("transform", "translate(" + 100 + "," + 100 + ")");

        svg.append('text')
           .attr('x', width/2 + 100)
           .attr('y', 50)
           .attr('text-anchor', 'middle')
           .style('font-family', 'Arial')
           .style('font-size', 20)
           .text(function(d){
               if (trendid==1) {
                   return activitydata['metadata'][0]['name'];
               } else if(trendid==2) {
                   return paindata["metadata"][0]['name'];
               } else if (trendid==3) {
                   return stressdata["metadata"][0]['name'];
               } else if (trendid==4) {
                   return sleepdata["metadata"][0]['name'];
               } else {
                   return paindata["metadata"][0]['name'];
               }
           });

        svg.append('text')
           .attr('x', width/2 + 100)
           .attr('y', height - 15 + 150)
           .attr('text-anchor', 'middle')
           .style('font-family', 'Arial')
           .style('font-size', 12)
           .text('Month');

        svg.append('text')
           .attr('text-anchor', 'middle')
           .attr('transform', 'translate(60,' + height + ')rotate(-90)')
           .style('font-family', 'Arial')
           .style('font-size', 12)
           .text(function(d){
               if (trendid==1) {
                   return activitydata['metadata'][0]['name'] + " value";
               } else if(trendid==2) {
                   return paindata["metadata"][0]['name'] + " value";
               } else if (trendid==3) {
                   return stressdata["metadata"][0]['name'] + " value";
               } else if (trendid==4) {
                   return sleepdata["metadata"][0]['name'] + " value";
               } else {
                   return paindata["metadata"][0]['name'] + " value";
               }
           });

        g.append("g")
         .attr("transform", "translate(0," + height + ")")
         .call(d3.axisBottom(xScale));

        g.append("g")
         .call(d3.axisLeft(yScale));

        svg.append('g')
           .selectAll("dot")
           .data(function(d) {
               if (trendid==1) {
                   return activitydata['data'];
               } else if(trendid==2) {
                   return paindata["data"]
               } else if (trendid==3) {
                   return stressdata["data"]
               } else if (trendid==4) {
                   return sleepdata["data"]
               } else {
                   return paindata["data"]
               }
           })
           .enter()
           .append("circle")
           .attr("cx", function (d) { return xScale(d.id); } )
           .attr("cy", function (d) { return yScale(d.value); } )
           .attr("r", 3)
           .attr("transform", "translate(" + 100 + "," + 100 + ")")
           .style("fill", "#F57600");

        svg.append("g")
            .selectAll("dot")
            .data(function(d) {
                if (trendid==1) {
                     return activitydata['data'];
                 } else if(trendid==2) {
                     return paindata["data"]
                 } else if (trendid==3) {
                     return stressdata["data"]
                 } else if (trendid==4) {
                     return sleepdata["data"]
                 } else {
                     return paindata["data"]
                 }
            })
            .enter()
            .append("circle")
            .attr("cx", function (d) { return xScale(d.id); } )
            .attr("cy", function (d) { return yScale(d.avg); })
            .attr("r", 2)
            .attr("transform", "translate(" + 100 + "," + 100 + ")")
            .attr("class", "comparedots")
            .style("fill", "#ADADAD");

        let line = d3.line()
                     .x(function(d) { return xScale(d.id); })
                     .y(function(d) { return yScale(d.value); })
                     .curve(d3.curveMonotoneX)

        let line_compare = d3.line()
            .x(function(d) { return xScale(d.id); })
            .y(function(d) { return yScale(d.avg); })
            .curve(d3.curveMonotoneX)

        svg.append("path")
           .datum(function(d){
               if (trendid==1) {
                     return activitydata['data'];
                 } else if(trendid==2) {
                     return paindata["data"]
                 } else if (trendid==3) {
                     return stressdata["data"]
                 } else if (trendid==4) {
                     return sleepdata["data"]
                 } else {
                     return paindata["data"]
                 }
           })
           .attr("class", "line")
           .attr("transform", "translate(" + 100 + "," + 100 + ")")
           .attr("d", line)
           .style("fill", "none")
           .style("stroke", "#F57600")
           .style("stroke-width", "2");

        svg.append("path")
           .datum(function(d){
               if (trendid==1) {
                     return activitydata['data'];
                 } else if(trendid==2) {
                     return paindata["data"]
                 } else if (trendid==3) {
                     return stressdata["data"]
                 } else if (trendid==4) {
                     return sleepdata["data"]
                 } else {
                     return paindata["data"]
                 }
           })
           .attr("class", "line")
           .attr("class", "compareline")
           .attr("transform", "translate(" + 100 + "," + 100 + ")")
           .attr("d", line_compare)
           .style("fill", "none")
           .style("stroke", "#ADADAD")
           .style("stroke-width", "1");

        svg.append("circle").attr("cx",100).attr("cy",380).attr("r", 6).style("fill", "#F57600")
        svg.append("circle").attr("cx",200).attr("cy",380).attr("r", 6).style("fill", "#ADADAD")
        svg.append("text").attr("x", 120).attr("y", 380).text("my data").style("font-size", "15px").attr("alignment-baseline","middle")
        svg.append("text").attr("x", 220).attr("y", 380).text("other patients data (my age)").style("font-size", "15px").attr("alignment-baseline","middle")

        stat1_text = ""
        if (pvalue > 0.75) {
            stat1_text = "High";
        } else if (pvalue > 0.5) {
            stat1_text = "Moderate";
        }  else if (pvalue > 0.3) {
            stat1_text = "Small"
        } else {
            stat1_text = "Almost no"
        }
        document.getElementById("pvalue_percent").innerText = stat1_text
        document.getElementById("linmodelres").innerText= lin_pred_1.toFixed(2)
        document.getElementById("mixedmodelres_a").innerText = lmm_pred_a.toFixed(2)
        document.getElementById("mixedmodelres_b").innerText = lmm_pred_b.toFixed(2)

        avg_level = ""
        level_color = ""

        if (trendid==1) {
            const sum_activity = Object.values(activitydata["data"]).reduce((acc, current) => acc + current.value, 0);
            const average_activity = sum_activity / Object.values(activitydata["data"]).length;

            avg_level = ((average_activity >= 7) ? "High" : (average_activity >= 4) ? "Low" : "Very Low");
            level_color = ((average_activity >= 7) ? "#88F5BA" : (average_activity >= 4) ? "#F2DD20" : "#EC6161");
            lin_pred_color = ((lin_pred_1.toFixed(2) >= 7) ? "#88F5BA" : (lin_pred_1.toFixed(2) >= 4) ? "#F2DD20" : "#EC6161");
            lmm_pred_color_a = ((lmm_pred_a.toFixed(2) >= 7) ? "#88F5BA" : (lmm_pred_a.toFixed(2) >= 4) ? "#F2DD20" : "#EC6161");
            lmm_pred_color_b = ((lmm_pred_b.toFixed(2) >= 7) ? "#88F5BA" : (lmm_pred_b.toFixed(2) >= 4) ? "#F2DD20" : "#EC6161");

        } else if(trendid==2) {
            const sum_pain = Object.values(paindata["data"]).reduce((acc, current) => acc + current.value, 0);
            const average_pain = sum_pain / Object.values(paindata["data"]).length;

            avg_level = ((average_pain >= 7) ? "High" : (average_pain >= 4) ? "Low" : "Very Low");
            level_color = ((average_pain>= 7) ? "#EC6161" : (average_pain >= 4) ? "#F2DD20" : "#88F5BA");
            lin_pred_color = ((lin_pred_1.toFixed(2) >= 7) ? "#EC6161" : (lin_pred_1.toFixed(2) >= 4) ? "#F2DD20" : "#88F5BA");
            lmm_pred_color_a = ((lmm_pred_a.toFixed(2) >= 7) ? "#EC6161" : (lmm_pred_a.toFixed(2) >= 4) ? "#F2DD20" : "#88F5BA");
            lmm_pred_color_b = ((lmm_pred_b.toFixed(2) >= 7) ? "#EC6161" : (lmm_pred_b.toFixed(2) >= 4) ? "#F2DD20" : "#88F5BA");
        } else if (trendid==3) {
            const sum_stress = Object.values(stressdata["data"]).reduce((acc, current) => acc + current.value, 0);
            const average_stress = sum_stress / Object.values(stressdata["data"]).length;

            avg_level = ((average_stress >= 7) ? "High" : (average_stress >= 4) ? "Low" : "Very Low");
            level_color = ((average_stress>= 7) ? "#EC6161" : (average_stress >= 4) ? "#F2DD20" : "#88F5BA");
            lin_pred_color = ((lin_pred_1.toFixed(2) >= 7) ? "#EC6161" : (lin_pred_1.toFixed(2) >= 4) ? "#F2DD20" : "#88F5BA");
            lmm_pred_color_a = ((lmm_pred_a.toFixed(2) >= 7) ? "#EC6161" : (lmm_pred_a.toFixed(2) >= 4) ? "#F2DD20" : "#88F5BA");
            lmm_pred_color_b = ((lmm_pred_b.toFixed(2) >= 7) ? "#EC6161" : (lmm_pred_b.toFixed(2) >= 4) ? "#F2DD20" : "#88F5BA");
        } else if (trendid==4) {
            const sum_sleep = Object.values(sleepdata["data"]).reduce((acc, current) => acc + current.value, 0);
            const average_sleep = sum_sleep / Object.values(sleepdata["data"]).length;

            avg_level = ((average_sleep >= 7) ? "High" : (average_sleep >= 4) ? "Low" : "Very Low");
            level_color = ((average_sleep >= 7) ? "#88F5BA" : (average_sleep >= 4) ? "#F2DD20" : "#EC6161");
            lin_pred_color = ((lin_pred_1.toFixed(2) >= 7) ? "#88F5BA" : (lin_pred_1.toFixed(2) >= 4) ? "#F2DD20" : "#EC6161");
            lmm_pred_color_a = ((lmm_pred_a.toFixed(2) >= 7) ? "#88F5BA" : (lmm_pred_a.toFixed(2) >= 4) ? "#F2DD20" : "#EC6161");
            lmm_pred_color_b = ((lmm_pred_b.toFixed(2) >= 7) ? "#88F5BA" : (lmm_pred_b.toFixed(2) >= 4) ? "#F2DD20" : "#EC6161");
        } else {
            const sum_pain = Object.values(paindata["data"]).reduce((acc, current) => acc + current.value, 0);
            const average_pain = sum_pain / Object.values(paindata["data"]).length;

            avg_level = ((average_pain >= 7) ? "High" : (average_pain >= 4) ? "Low" : "Very Low");
            level_color = ((average_pain>= 7) ? "#EC6161" : (average_pain >= 4) ? "#F2DD20" : "#88F5BA");
            lin_pred_color = ((lin_pred_1.toFixed(2) >= 7) ? "#EC6161" : (lin_pred_1.toFixed(2) >= 4) ? "#F2DD20" : "#88F5BA");
            lmm_pred_color_a = ((lmm_pred_a.toFixed(2) >= 7) ? "#EC6161" : (lmm_pred_a.toFixed(2) >= 4) ? "#F2DD20" : "#88F5BA");
            lmm_pred_color_b = ((lmm_pred_b.toFixed(2) >= 7) ? "#EC6161" : (lmm_pred_b.toFixed(2) >= 4) ? "#F2DD20" : "#88F5BA");
        }

        document.getElementById("avg_level").innerText = avg_level;
        document.getElementById("avg_level").style.color = level_color;
        document.getElementById("linmodelres").style.color = lin_pred_color;
        document.getElementById("mixedmodelres_a").style.color = lmm_pred_color_a;
        document.getElementById("mixedmodelres_b").style.color = lmm_pred_color_b;

        document.getElementById("treatment_name_A").innerHTML = "<i class='fa-solid fa-stethoscope'></i> " + paindata["metadata"][0]["treatment1_name"]
        document.getElementById("treatment_name_B").innerHTML = "<i class='fa-solid fa-stethoscope'></i> " + paindata["metadata"][0]["treatment2_name"]

        // ****** TREATMENT (Lines) VISIBILITY

        svg.append("line")
            .style("stroke", "#E7E7E7")
            .style("stroke-width", 2)
            .attr("class", "treatment_line")
            .attr("x1", 164)
            .attr("y1", 100)
            .attr("x2", 164)
            .attr("y2", 300)

        svg.append("line")
            .style("stroke", "#E7E7E7")
            .style("stroke-width", 2)
            .attr("class", "treatment_line")
            .attr("x1", 227)
            .attr("y1", 100)
            .attr("x2", 227)
            .attr("y2", 300)

        svg.append("line")
            .style("stroke", "#E7E7E7")
            .style("stroke-width", 2)
            .attr("class", "treatment_line")
            .attr("x1", 290)
            .attr("y1", 100)
            .attr("x2", 290)
            .attr("y2", 300)

        svg.append("line")
            .style("stroke", "#E7E7E7")
            .style("stroke-width", 2)
            .attr("class", "treatment_line")
            .attr("x1", 353)
            .attr("y1", 100)
            .attr("x2", 353)
            .attr("y2", 300)

        svg.append("text")
            .attr("x", 105)
            .attr("y", 100)
            .attr("class", "treatment_text")
            .style("font-size", "10px")
            .style("color", "#E7E7E7")
            .text("Baseline")

        svg.append("text")
            .attr("x", 168)
            .attr("y", 100)
            .attr("class", "treatment_text")
            .style("font-size", "10px")
            .style("color", "#E7E7E7")
            .text(paindata["metadata"][0]["treatment1_name"])

        svg.append("text")
            .attr("x", 231)
            .attr("y", 100)
            .attr("class", "treatment_text")
            .style("font-size", "10px")
            .style("color", "#E7E7E7")
            .text(paindata["metadata"][0]["treatment2_name"])

        svg.append("text")
            .attr("x", 294)
            .attr("y", 100)
            .attr("class", "treatment_text")
            .style("font-size", "10px")
            .style("color", "#E7E7E7")
            .text(paindata["metadata"][0]["treatment1_name"])

        svg.append("text")
            .attr("x", 357)
            .attr("y", 100)
            .attr("class", "treatment_text")
            .style("font-size", "10px")
            .style("color", "#E7E7E7")
            .text(paindata["metadata"][0]["treatment2_name"])

        d3.selectAll("[name=treatment_visibility]").on("change", function(){
            let treatment_visible = this.checked ? 1 : 0;
            svg.selectAll(".treatment_line")
                .style("opacity", treatment_visible)

            svg.selectAll(".treatment_text")
                .style("opacity", treatment_visible)
        })

        d3.selectAll("[name=other_visibility]").on("change", function(){
            let other_visible = this.checked ? 1 : 0;
            svg.selectAll(".compareline")
                .style("opacity", other_visible)

            svg.selectAll(".comparedots")
                .style("opacity", other_visible)
        })
    </script>
</body>
</html>