<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <style>
        html {
            font-family: Arial, serif;
            background-color: #E7E7E7;
        }
        .infoimg {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div style="background-color: white; width: 500px; border-radius: 10px;">
        <img src="../static/backarrow.png" onclick="history.back()" style="margin-right: 30px">
        <div style="background-color: white; width: 500px; height: auto">
            <img class="infoimg" src="../static/info.png"><br/>
            <div id="infocontent">

            </div>
            <script>
                let paindata =     JSON.parse('{{ paindata | tojson | safe }}')
                let activitydata = JSON.parse('{{ activitydata | tojson | safe }}')
                let stressdata =   JSON.parse('{{ stressdata | tojson | safe }}')
                let sleepdata =    JSON.parse('{{ sleepdata | tojson | safe }}')
                let trendid = '{{ trendid }}';

                if (trendid==1) {
                    infotext = activitydata["metadata"][0]["info"]
                } else if (trendid==2) {
                    infotext = paindata["metadata"][0]["info"]
                } else if (trendid==3) {
                    infotext = stressdata["metadata"][0]["info"]
                } else if (trendid==4) {
                    infotext = sleepdata["metadata"][0]["info"]
                } else {
                    infotext = paindata["metadata"][0]["info"]  // default
                }

                document.getElementById("infocontent").innerText = infotext;
            </script>
        </div>
    </div>
</body>
</html>